* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Lucida Sans';
    font-size: 100%;
  }

  header {
    background-color: #FFAB91  ;
    margin: 0px;
    height: 80px;
    padding: 30px 0px 30px 0px;
  }

  h1, h2{
    text-align: center;
  }

  .title {

    background-color: #FAFAFA;
    border-radius: 10px ;
    margin: 1px 100px 5px 100px;
    height: 20px;
    font-size: x-small;
   
  }
  .subtitle {
    background-color: #FAFAFA;
    border-radius: 5px ;
    margin: 1px 150px 1px 150px;
    height: 10px;
    font-size: xx-small;
  }
  nav {
    background-color: #FFF9C4;
    height: 50px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 200px 0px 200px;    
  }
  .menu > div {
    background-color: #546E7A;
    border-radius: 5px ;
    height: 10px;
    width: 50px;
    margin: 20px 5px 15px 5px;
    padding: 0px 100px 0px 100px;
    font-size: 10px;    
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  article {
    background-color: #F8BBD0  ;
    height: 680px;    

  }
  .article_section {   
    background-color: #4DD0E1;
    margin: 30px 10px 10px 10px;
  }

  .fit-picture {
    border:  1px;
    width: 150px;
    height: 100px;
    margin: 2px;
}

  aside {
    background-color: #66FF99  ;
    height: 680px;
  }

  footer {
    background-color: #9FA8DA   ;
    height: 50px;
    padding: 20px;
  }
  h4{
    text-align: center;
  }

