* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .main {
    display: grid;
  
  }
  

.header {
    background-color: #C8E6C9 ;
  }

.nav {
    background-color: #FCE4EC ;
    grid-column: 2/4;
  }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
  }

.article {
    border: 1px solid black;
    background-color: #E1BEE7  ;


  }

.section_article {
    background-color: #FFF9C4  ;
  }

  .aside {
    background-color: #F8BBD0 ;
    border: 1px solid black;

  }

.aside_article {
    background-color: #E0F7FA ;
  }